	
{{define "account_search"}}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>アカウント検索・デバッグ</title>
</head>
<body>
    <div>アカウント検索・デバッグ</div>
    <table border="1">
        <tr>
            <td>マスターデータ配信設定</td>
            <td><a href="/client_data_top">詳細情報確認</a></td>
        </tr>
        <tr>
            <td><a href="/season_top">季節キャンペーン設定</a></td>
        </tr>
        <tr>
            <td><a href="/account_search">アカウント検索・デバッグ</a></td>
        </tr>
        <tr>
            <td><a href="/log_search">履歴確認</a></td>
        </tr>
    </table>    
</body>
</html>
{{end}}