	
{{define "season_top"}}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>季節キャンペーン</title>
</head>
<body>
    <div>キャンペーン一覧</div>
    <table border="1">
        <tr>
            <td>配信日</td>
            <td>キャンペーン名</td>
            <td>概要</td>
        </tr>
        <tr>
            <td>2024年４月１日</td>
            <td>新入学式のみんなで遊ぼう</td>
            <td>親友学識の4.1-</td>
        </tr>
        <tr>
            <td>2024年5月5日</td>
            <td>ゴールデンウィーク特別イベント</td>
            <td></td>
        </tr>
    </table>
</body>
</html>
{{end}}