	
{{define "top"}}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>イベント運営ちゃん(Congratulations on your marriage f)</title>
</head>
<body>
    <div>リリーさん、おめでとう。　家庭の運営頑張ってね。</div>
    <table border="1">
        <tr>
            <td>マスターデータ配信設定</td>
            <td><a href="/client_data_top">詳細情報確認</a></td>
        </tr>
        <tr>
            <td>季節キャンペーン設定</td>
        </tr>
        <tr>
            <td>パラメータ変更</td>
        </tr>
        <tr>
            <td>履歴確認</td>
        </tr>
    </table>    
</body>
</html>
{{end}}